.flexbox-center-spaced {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    /* You can set flex-wrap and flex-direction individually */
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    /* Or do it all in one line with flex flow */
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    /* tweak the where items line up on the row */
    /* valid values are: flex-start, flex-end, space-between, space-around, stretch */
    -webkit-align-content: space-between;
    align-content: space-between;
}

/*----START Account Icons----------------------------------------------------------*/

#card-filters.portfolio-filter-account .hero-text h1 {
    font-size:100px;
    line-height:100px;
    font-weight: 300
}

.portfolio-filter-account h5 {
    display: inline;
    font-size: 12px;
    font-size: 1.2rem;
}

.portfolio-filter-account ul {
    margin:0 auto;
    padding-top:30px;

}

.portfolio-filter-account li {
    margin-right: 10px;
    margin-left: 10px;
    width:150px;
}

#card-filters.portfolio-filter-account li:nth-child(3n) {
    margin-right:20px
}

#card-filters.portfolio-filter-account li:nth-child(6) {
    margin-right:0px
}

.portfolio-filter-account a {
    display:block;
    height: 110px;
    background: none;
    color: #4B5D59;
    font-size: 15;
    font-weight:400;
    text-align:center;
    text-transform:uppercase;
    line-height:14px;
    transition: background .5s;
    -webkit-transition: background .5s;
    text-shadow:none
}

.portfolio-filter-account a span {
    display: inline-block;
    padding-top: 83px;
}

.portfolio-filter-account a.book-filter-create span {
    padding-top:50px
}



.portfolio-filter-account  a.card-filter-my-projects {
    background:transparent url('../../../../d88zf0kfw1nyb.cloudfront.net/pm/home/myAccount/myProjects2.png') no-repeat center 15px;
    background-size: 50px;
}

.portfolio-filter-account  a.card-filter-new-projects {
    background:transparent url('../../../../d88zf0kfw1nyb.cloudfront.net/pm/home/myAccount/newProjects2.png') no-repeat center 15px;
    background-size: 50px;
}

.portfolio-filter-account  a.card-filter-order-history {
    background:transparent url('../../../../d88zf0kfw1nyb.cloudfront.net/pm/home/myAccount/orderHistory2.png') no-repeat center 15px;
    background-size: 50px;
}

.portfolio-filter-account  a.card-filter-my-vouchers {
    background:transparent url('../../../../d88zf0kfw1nyb.cloudfront.net/pm/home/myAccount/myVouchers2.png') no-repeat center 15px;
    background-size: 50px;
}

.portfolio-filter-account  a.card-filter-shopping-cart {
    background:transparent url('../../../../d88zf0kfw1nyb.cloudfront.net/pm/home/myAccount/shoppingCart2.png') no-repeat center 15px;
    background-size: 50px;
}

.portfolio-filter-account  a.card-filter-inspired {
    background:transparent url('../../../../d88zf0kfw1nyb.cloudfront.net/pm/home/myAccount/beInspired.png') no-repeat center 15px;
    background-size: 50px;
}


.portfolio-filter-account a.active, .portfolio-filter-account a:hover {
    background:transparent;
    color:#333 !important
}



.portfolio-filter-account  a.card-filter-my-projects.active, .portfolio-filter-account  a.card-filter-my-projects:hover {
    background:#e9e9e9 url('../../../../d88zf0kfw1nyb.cloudfront.net/pm/home/myAccount/myProjects2.png') no-repeat center 15px;
    background-size: 50px;
}

.portfolio-filter-account  a.card-filter-new-projects.active, .portfolio-filter-account  a.card-filter-new-projects:hover {
    background:#e9e9e9 url('../../../../d88zf0kfw1nyb.cloudfront.net/pm/home/myAccount/newProjects2.png') no-repeat center 15px;
    background-size: 50px;
}

.portfolio-filter-account  a.card-filter-order-history.active, .portfolio-filter-account  a.card-filter-order-history:hover {
    background:#e9e9e9 url('../../../../d88zf0kfw1nyb.cloudfront.net/pm/home/myAccount/orderHistory2.png') no-repeat center 15px;
    background-size: 50px;
}

.portfolio-filter-account  a.card-filter-my-vouchers.active, .portfolio-filter-account  a.card-filter-my-vouchers:hover {
    background:#e9e9e9 url('../../../../d88zf0kfw1nyb.cloudfront.net/pm/home/myAccount/myVouchers2.png') no-repeat center 15px;
    background-size: 50px;
}

.portfolio-filter-account  a.card-filter-shopping-cart.active, .portfolio-filter-account  a.card-filter-shopping-cart:hover {
    background:#e9e9e9 url('../../../../d88zf0kfw1nyb.cloudfront.net/pm/home/myAccount/shoppingCart2.png') no-repeat center 15px;
    background-size: 50px;
}

.portfolio-filter-account  a.card-filter-inspired.active, .portfolio-filter-account  a.card-filter-inspired:hover {
    background:#e9e9e9 url('../../../../d88zf0kfw1nyb.cloudfront.net/pm/home/myAccount/beInspired.png') no-repeat center 15px;
    background-size: 50px;
}


/*----END Account Icons----------------------------------------------------------*/

/*----START Hero Text----------------------------------------------------------*/

/*------- CENTER ------------------------------------------------------

    .page-heading-center {
    margin-top: 160px;
    width: 100%;
    right: 15%;
    color: #ffffff;
    text-align: center;
    position: absolute;
    z-index: 2;
}------*/


/*----END Hero Text----------------------------------------------------------*/

/*----START Occasions Header T4ext ----------------------------------------------------------*/

.occasions-link h2 p {
    text-align: center;
    font-size: 16px;
    font-family: 'Roboto Slab', serif;
    font-style: italic;
    position: relative;
    padding: 0;
    color: #fff;
    margin-bottom: -10px;
    font-weight: 500;
}

/*---END Occasions Header T4ext ----------------------------------------------------------*/



/*----START Occasions Icons----------------------------------------------------------*/

#card-filters.portfolio-filter-products .hero-text h1 {
    font-size:100px;
    line-height:100px;
    font-weight: 300
}

.portfolio-filter-products h5 {
    display: inline;
    font-size: 12px;
    font-size: 1.2rem;
}

.portfolio-filter-products ul {
    margin:0 auto;
    padding-top:30px;

}

.portfolio-filter-products li {
    margin-right: 40px;
    margin-left: 40px;
    width: 140px;
    height: 120px;

}

#card-filters.portfolio-filter-products li:nth-child(3n) {
    margin-right:30px
}

#card-filters.portfolio-filter-products li:nth-child(6) {
    margin-right:0px
}

.portfolio-filter-products a {
    display:block;
    height: 120px;
    background: #3069B3;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size:11px;
    font-weight:700;
    text-align:center;
    text-transform:uppercase;
    line-height:11px;
    transition: background .5s;
    -webkit-transition: background .5s;
    text-shadow:none
}

.portfolio-filter-products a span {
    display: inline-block;
    padding-top: 83px;
}

.portfolio-filter-products a.book-filter-create span {
    padding-top:50px
}


.portfolio-filter-products  a.card-filter-christmas {
    background:#3069B3 url('../../../../d88zf0kfw1nyb.cloudfront.net/pm/filter_card_christmas_white.png') no-repeat center 15px;
}

.portfolio-filter-products  a.card-filter-holiday {
    background:#3069B3 url('../../../../d88zf0kfw1nyb.cloudfront.net/pm/filter_card_holiday_white.png') no-repeat center 15px;
}

.portfolio-filter-products  a.card-filter-newyear {
    background:#3069B3 url('../../../../d88zf0kfw1nyb.cloudfront.net/pm/filter_card_newyear_white.png') no-repeat center 15px;
}

.portfolio-filter-products  a.card-filter-hanukkah {
    background:#3069B3 url('../../../../d88zf0kfw1nyb.cloudfront.net/pm/filter_card_hanukkah_white.png') no-repeat center 15px;
}

.portfolio-filter-products  a.card-filter-create {
    background:#3069B3 url('../../../../d88zf0kfw1nyb.cloudfront.net/pm/filter_card_create_white.png') no-repeat center 15px;
}

.portfolio-filter-products  a.card-filter-preview {
    background:#3069B3 url('../../../../d88zf0kfw1nyb.cloudfront.net/pm/filter_card_preview_white.png') no-repeat center 15px;
}

.portfolio-filter-products  a.card-filter-thank-you {
    background:#3069B3 url('../../../../d88zf0kfw1nyb.cloudfront.net/pm/filter_card_thankyou_white.png') no-repeat center 15px;
}

.portfolio-filter-products  a.card-filter-save-date {
    background:#3069B3 url('../../../../d88zf0kfw1nyb.cloudfront.net/pm/filter_card_savedate_white.png') no-repeat center 15px;
}

.portfolio-filter-products  a.card-filter-graduation {
    background:#3069B3 url('../../../../d88zf0kfw1nyb.cloudfront.net/pm/filter_card_grad_white.png') no-repeat center 15px;
}

.portfolio-filter-products  a.card-filter-bday {
    background:#3069B3 url('../../../../d88zf0kfw1nyb.cloudfront.net/pm/filter_card_bday_white.png') no-repeat center 15px;
}

.portfolio-filter-products  a.card-filter-baby {
    background:#3069B3 url('../../../../d88zf0kfw1nyb.cloudfront.net/pm/filter_card_baby_white.png') no-repeat center 15px;
}

.portfolio-filter-products  a.card-filter-valentines {
    background:#3069B3 url('../../../../d88zf0kfw1nyb.cloudfront.net/pm/filter_card_valentines_white.png') no-repeat center 15px;
}



.portfolio-filter-products a.active, .portfolio-filter-products a:hover {
    background:#3069B3;
    color:#ffffff !important
}


.portfolio-filter-products  a.card-filter-christmas.active, .portfolio-filter-products  a.card-filter-christmas:hover {
    background:#3069B3 url('../../../../d88zf0kfw1nyb.cloudfront.net/pm/filter_card_christmas_white.png') no-repeat center 15px;
}

.portfolio-filter-products  a.card-filter-holiday.active, .portfolio-filter-products  a.card-filter-holiday:hover {
    background:#3069B3 url('../../../../d88zf0kfw1nyb.cloudfront.net/pm/filter_card_holiday_white.png') no-repeat center 15px;
}

.portfolio-filter-products  a.card-filter-newyear.active, .portfolio-filter-products  a.card-filter-newyear:hover {
    background:#3069B3 url('../../../../d88zf0kfw1nyb.cloudfront.net/pm/filter_card_newyear_white.png') no-repeat center 15px;
}

.portfolio-filter-products  a.card-filter-hanukkah.active, .portfolio-filter-products  a.card-filter-hanukkah:hover {
    background:#3069B3 url('../../../../d88zf0kfw1nyb.cloudfront.net/pm/filter_card_hanukkah_white.png') no-repeat center 15px;
}

.portfolio-filter-products  a.card-filter-create.active, .portfolio-filter-products  a.card-filter-create:hover {
    background:#3069B3 url('../../../../d88zf0kfw1nyb.cloudfront.net/pm/filter_card_create_white.png') no-repeat center 15px;
}

.portfolio-filter-products  a.card-filter-preview:hover {
    background:#3069B3 url('../../../../d88zf0kfw1nyb.cloudfront.net/pm/filter_card_preview_white.png') no-repeat center 15px;
}

.portfolio-filter-products  a.card-filter-thank-you.active, .portfolio-filter-products  a.card-filter-thank-you:hover {
    background:#3069B3 url('../../../../d88zf0kfw1nyb.cloudfront.net/pm/filter_card_thankyou_white.png') no-repeat center 15px;
}

.portfolio-filter-products  a.card-filter-save-date.active, .portfolio-filter-products  a.card-filter-save-date:hover {
    background:#3069B3 url('../../../../d88zf0kfw1nyb.cloudfront.net/pm/filter_card_savedate_white.png') no-repeat center 15px;
}

.portfolio-filter-products  a.card-filter-graduation.active, .portfolio-filter-products  a.card-filter-graduation:hover {
    background:#3069B3 url('../../../../d88zf0kfw1nyb.cloudfront.net/pm/filter_card_grad_white.png') no-repeat center 15px;
}

.portfolio-filter-products  a.card-filter-bday.active, .portfolio-filter-products  a.card-filter-bday:hover {
    background:#3069B3 url('../../../../d88zf0kfw1nyb.cloudfront.net/pm/filter_card_bday_white.png') no-repeat center 15px;
}

.portfolio-filter-products  a.card-filter-baby.active, .portfolio-filter-products  a.card-filter-baby:hover {
    background:#3069B3 url('../../../../d88zf0kfw1nyb.cloudfront.net/pm/filter_card_baby_white.png') no-repeat center 15px;
}

.portfolio-filter-products  a.card-filter-valentines.active, .portfolio-filter-products  a.card-filter-valentines:hover {
    background:#3069B3 url('../../../../d88zf0kfw1nyb.cloudfront.net/pm/filter_card_valentines_white.png') no-repeat center 15px;
}


/*----END Products Icons----------------------------------------------------------*/

/*----START Products Link----------------------------------------------------------*/

.products-link h2 {
    text-align: center;
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
    font-style: italic;
    color:#999;
    position: relative;
    padding: 0;
    margin-bottom: 15px;
}


/*----END Products Link----------------------------------------------------------*/

/*----START Split Line----------------------------------------------------------*/

.split-line {
    line-height: 0.5;
    text-align: center;
}
.split-line span {
    display: inline-block;
    position: relative;
}
.split-line span:before,
.split-line span:after {
    content: "";
    position: absolute;
    height: 5px;
    border-bottom: 1pt solid #d3d3d3;
    top: 0;
    width: 50px;
}
.split-line span:before {
    right: 100%;
    margin-right: 15px;
}
.split-line span:after {
    left: 100%;
    margin-left: 15px;
}

/*----END Split Line----------------------------------------------------------*/

/*----START Teal Link----------------------------------------------------------*/

.idea-cat-thumb-teal-link a {
    color: #34B3B0;
    font-size: 16px;
    font-family: 'Roboto Slab', serif;
    font-style: italic;
}

.idea-cat-thumb-teal-link a:hover {
    color:#3069B3
}

.idea-cat-thumb .teal-link a {
    color:#34B5B1  !important;
    text-decoration: none;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;

}

.idea-cat-thumb .teal-link a:hover {
    opacity:.8
}

/*----END Teal Link----------------------------------------------------------*/


/*----START Nav Arrows for Products----------------------------------------------------------*/

.nvgt {
    position: absolute;
    /* top: 40px; */
    /* height: 50px; */
    /*width: 30px;*/
}


.nvgt:hover {
    opacity: 0.20;
}

#prev {
    background: url('../../../../d88zf0kfw1nyb.cloudfront.net/pm/home/arrowLeft.png') no-repeat center;
    left: 0px;
}

#next {
    background: url('../../../../d88zf0kfw1nyb.cloudfront.net/pm/home/arrowRight.png') no-repeat center;
    right: 0px;
}

/*----END Nav Arrows for Products----------------------------------------------------------*/

/*----START Drop Shadows----------------------------------------------------------*/

.shadow-button {
    box-shadow: 0px 1px 1px rgba(0,0,0,.5);
}

.shadow-text {
    text-shadow: 0px 1px 1px rgba(0,0,0,.5);
}


/*----END Drop Shadows----------------------------------------------------------*/

/*----START SLIDE CSS----------------------------------------------------------*/

.container {
    background: #ccc;
    overflow: hidden;
    padding: 0 1em 1em;
}

.container > div {
    white-space: nowrap;
    position: relative;
    transition: left 0.5s ease 0;
}

.content {
    display: inline-block;
    padding: 4em;
    margin-right: 1em;
    text-align: center;
}

.flex-columns .product-images {
    background: url('../../../../d88zf0kfw1nyb.cloudfront.net/pm/home/why/whyPicaboo3.png') no-repeat center;
    margin-right: 0px;
    width: 100%;
    height: 320px;
    background-size: cover;
}

/*----END SLIDE CSS----------------------------------------------------------*/



.page-heading {
    padding:20px;
    background: #fff;
    width:330px;
}

.product-cta .button {
    width:286px;
    text-align: center;
}

h1.product-title {
    color:#333;
    text-align: center;
}

.product-deal1, .product-deal2 {
    padding-top: 20px;
    text-align: center;
}




.g {
    overflow: visible;
    line-height: inherit;
}


/*----START FORMIDABLE----------------------------------------------------------*/
.frm_pos_top {margin-bottom:10px}
.frm_description {font-size:.8em;padding-bottom:10px}
.frm_form_field {padding-bottom:10px}
input[type="file"] {width:300px}
.frm_primary_label {width:300px;display:inline-block}
.frm_error {color:#cc0000}
.frm_submit {padding-bottom:20px;}
.frm_message {padding:40px;background:#dff0d8}
.frm_error_style {padding:40px;background:#f2dede}
.frm_message p, .frm_error_style p {margin:0}
/*----END FORMIDABLE----------------------------------------------------------*/

.wide-left-column {width:60%;float: left}
.narrow-right-column {width:38%;float: left;margin-left:2%}

.stories-left-col {text-align: left}
.stories-right-inner {padding:40px}
.stories-right-inner ul {margin-left:20px}



@media only screen and (max-width: 768px) {
    .wide-left-column {width:90%;float:none;margin:0 auto}
    .narrow-right-column {width:90%;float:none;margin:0 auto}

}