/*! Pushy - v0.9.1 - 2013-9-16
* Pushy is a responsive off-canvas navigation menu using CSS transforms & transitions.
* https://github.com/christophery/pushy/
* by Christopher Yee */

/* Menu Appearance */

.pushy{
    position: fixed;
    width: 260px;
    height: 100%;
    top: 0;
    z-index: 550;
    background: #3069B3;
    font-size: 14px;
    font-weight: bold;
    /*-webkit-box-shadow: inset -1px -10px 10px rgba(0, 0, 0, .1);
    -moz-box-shadow: inset -1px -10px 10px rgba(0, 0, 0, .1);
    box-shadow: inset -1px -10px 10px rgba(0, 0, 0, .1);*/
    overflow: auto;
    -webkit-overflow-scrolling: touch; /* enables momentum scrolling in iOS overflow elements */
    /*border-right:1px solid #fff*/
    padding-top:20px;
    color:#fff
}

.pushy a, .pushy2 a{
    display: block;
    color: #fff;
    padding: 15px 30px;
    /*border-bottom: 1px solid #fff;
    border-top: 1px solid rgba(255, 255, 255, .1);*/
    text-decoration: none;
    text-transform: uppercase;
}

.pushy a:hover, .pushy2 a:hover{
    background: #fff;
    color: #3069B3;
}

.pushy2 {
    position: fixed;
    width: 260px;
    height: 100%;
    top: 0;
    z-index: 9999;
    background: #3069B3;
    font-size: 14px;
    font-weight: bold;
    /*-webkit-box-shadow: inset 1px -10px 10px rgba(0, 0, 0, .1);
    -moz-box-shadow: inset 1px -10px 10px rgba(0, 0, 0, .1);
    box-shadow: inset 1px -10px 10px rgba(0, 0, 0, .1);*/
    overflow: auto;
    -webkit-overflow-scrolling: touch; /* enables momentum scrolling in iOS overflow elements */
    padding-top:20px;
    /*border-left:1px solid #fff*/
    color:#fff
}


/* Menu Movement */

.pushy-left{
    /*-webkit-transform: translate3d(-260px,0,0);
    -moz-transform: translate3d(-260px,0,0);
    -ms-transform: translate3d(-260px,0,0);
    -o-transform: translate3d(-260px,0,0);
    transform: translate3d(-260px,0,0);*/
}

.pushy-right{

}


.pushy-open{
    /*-webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);*/
}

.container-push, .push-push{
    /*-webkit-transform: translate3d(260px,0,0);
    -moz-transform: translate3d(260px,0,0);
    -ms-transform: translate3d(260px,0,0);
    -o-transform: translate3d(260px,0,0);
    transform: translate3d(260px,0,0);*/
    overflow: hidden;
}

.container-push2 {
    overflow: hidden;
}

/* Menu Transitions */

.pushy, .pushy2, #container, .push{
    /*-webkit-transition: -webkit-transform .2s cubic-bezier(.16, .68, .43, .99);
    -moz-transition: -moz-transform .2s cubic-bezier(.16, .68, .43, .99);
    -o-transition: -o-transform .2s cubic-bezier(.16, .68, .43, .99);
    transition: transform .2s cubic-bezier(.16, .68, .43, .99);*/
    /* improves performance issues on mobile*/

}



.freeze-body {
overflow: hidden;
-webkit-tap-highlight-color: rgba(0,0,0,0);
height: 100%
}

/* Site Overlay */

.site-overlay, .site-overlay2 {
    display: none;
}

.pushy-active .site-overlay {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 260px;
    z-index: 850;
    background: rgba(0,0,0,0);
}

.pushy-active .site-overlay2 {
    display: block;
    position: fixed;
    top: 0;
    right: 260px;
    bottom: 0;
    left: 0px;
    z-index: 850;
    background: rgba(0,0,0,0);
}

/* Example Media Query */

@media screen and (max-width: 1024px){
    .pushy{
        /*font-size: 1.0em;*/
    }

    #container {
        position:absolute;
        width: 100%;
        /*height: 100%;*/

    }

    .pushy, .pushy2, #container, .push{
        -webkit-transition: -webkit-transform .2s cubic-bezier(.16, .68, .43, .99);
        -moz-transition: -moz-transform .2s cubic-bezier(.16, .68, .43, .99);
        -o-transition: -o-transform .2s cubic-bezier(.16, .68, .43, .99);
        transition: transform .2s cubic-bezier(.16, .68, .43, .99);
        /* improves performance issues on mobile*/
        -webkit-backface-visibility: hidden;
        -webkit-perspective: 1000;
    }
}